redis
python-dotenv
fastapi
orjson
pydantic
pydantic-settings
uvicorn[standard]
gunicorn
backoff
psycopg2-binary
uvloop ; sys_platform != "win32" and implementation_name == "cpython"
asyncpg
passlib
StrEnum
pycryptodomex
pybase64
PyJWT
python-multipart
sqlalchemy
async-fastapi-jwt-auth
flake8
click
yandexid
yandex-oauth