PROJECT_NAME=Сервис авторизации

REDIS_HOST=redis
REDIS_PORT=6379

DB_NAME=auth_db
DB_USER=app
DB_PASSWORD=123qwe
DB_HOST=auth_db
DB_PORT=5432

SERVICE_HOST=auth_service
SERVICE_PORT=8000

tracer_host=jaeger
tracer_port=6831
enable_tracer=True
