PROJECT_NAME=API для онлайн-кинотеатра

REDIS_HOST=redis
REDIS_PORT=

ELASTIC_HOST=elastic
ELASTIC_PORT=
ES_JAVA_OPTS='-Xms500m -Xmx500m'
SECURITY=false
DISCOVERY='single-node'

DB_NAME=movies_database
DB_USER=
DB_PASSWORD=
DB_HOST=db
DB_PORT=

