redis==4.4.2
elasticsearch[async]==7.9.1
python-dotenv==0.21.0
fastapi==0.110.0
orjson==3.8.6
pydantic==2.6.3
pydantic-settings==2.2.1
uvicorn[standard]==0.12.2
gunicorn==21.2.0
backoff==2.2.1
psycopg2_binary==2.9.9
uvloop==0.17.0 ; sys_platform != "win32" and implementation_name == "cpython"
passlib==1.7.4
PyJWT==2.8.0
